html 
{
    font-size: 16px;
}
.fl-uiOptions-fatPanel {
    overflow-x: hidden;
    height: auto;
}
.fl-uio-tabs {
    float: right;
}
#uio-fp-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;    
}
#uio-fp-wrapper a{
    float: right;
}